In [1]:
# Importing numpy libraries

import numpy as np

### Array Creation

In [15]:
array1 = np.array([1,2,3],dtype = 'int')

In [16]:
array1

array([1, 2, 3])

In [20]:
#creating array using zeros

zeros = np.zeros((2,2),dtype = 'float')

In [21]:
zeros

array([[0., 0.],
       [0., 0.]])

In [22]:
# For (3,3) shape

zeros2 = np.zeros((3,3),dtype = 'int')

In [23]:
zeros2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [24]:
#Creating array using ones function

ones = np.ones((3,3),dtype = 'int')

In [25]:
ones

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [26]:
#Creating Array using full function

full = np.full((3,4),fill_value = 3)

In [27]:
full

array([[3, 3, 3, 3],
       [3, 3, 3, 3],
       [3, 3, 3, 3]])

In [28]:
# Creating identity matrix using numpy

identity = np.identity(3)

In [29]:
identity

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [36]:
# Creating eye matrix

eye = np.eye(3,3,-2) 

"""if you change the value of k then array element will be move right-left on basis of your value"""

In [35]:
eye

array([[0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [37]:
# Creating array using arange function

arange = np.arange(1,20,2)

In [38]:
arange

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [47]:
# using of linspace function

linspace = np.linspace(1,100,50, dtype = 'int')

In [48]:
linspace

array([  1,   3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,
        27,  29,  31,  33,  35,  37,  39,  41,  43,  45,  47,  49,  51,
        53,  55,  57,  59,  61,  63,  65,  67,  69,  71,  73,  75,  77,
        79,  81,  83,  85,  87,  89,  91,  93,  95,  97, 100])

In [49]:
linspace.size

50

In [51]:
# Using empty function

empty = np.empty((1,5))

In [52]:
for i in range(5):
  empty[:,i] = i

empty

array([[0., 1., 2., 3., 4.]])