In [134]:
# Importing numpy libraries

import numpy as np

In [131]:
# Creatin an array

a = np.arange(1,10).reshape(3,3)

In [132]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [133]:
b = a*2 #normal arithmetic operation on b

In [137]:
b

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

#### Horizontal Stack

In [135]:
#hstack

hstack1 = np.hstack((a,b))

In [136]:
hstack1

array([[ 1,  2,  3,  2,  4,  6],
       [ 4,  5,  6,  8, 10, 12],
       [ 7,  8,  9, 14, 16, 18]])

In [138]:
# We can also do it using coloumn stack

col_stack = np.column_stack((a,b))

In [139]:
col_stack

# output of the col_stack and hstack1 will be same

array([[ 1,  2,  3,  2,  4,  6],
       [ 4,  5,  6,  8, 10, 12],
       [ 7,  8,  9, 14, 16, 18]])

In [140]:
# we can also do it using concating()

concating = np.concatenate((a,b),axis=1)

In [142]:
concating # Output will be same as like col_stack and hstack1

array([[ 1,  2,  3,  2,  4,  6],
       [ 4,  5,  6,  8, 10, 12],
       [ 7,  8,  9, 14, 16, 18]])

#### Vertical Stack

In [144]:
#vstack()
vstack1 = np.vstack((a,b))

In [145]:
vstack1

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [146]:
#row_stack()
row_stack = np.row_stack((a,b))

In [147]:
row_stack #Output will be same to vstack

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [148]:
# concating for row_stack

concating_r = np.concatenate((a,b),axis = 0)

In [149]:
concating_r # output will be same to vstack and row_stack

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

#### Depth Stacking

In [150]:
#dstack

depth_Stack = np.dstack((a,b))

In [151]:
depth_Stack

array([[[ 1,  2],
        [ 2,  4],
        [ 3,  6]],

       [[ 4,  8],
        [ 5, 10],
        [ 6, 12]],

       [[ 7, 14],
        [ 8, 16],
        [ 9, 18]]])